{% extends "base.html" %}
{% block content %}
<h1>Reset Your Password</h1>
<form action='/reset_password/{{token}}' method='post' id='reset'>
  <div>
    <input type="password" placeholder="Password" id="password" required>
  </div>
  <div>
    <input type="password" placeholder="Confirm Password" id="confirm_password" required>
  </div>
  <div>
    <button type="submit" class="btn btn-default">Confirm</button>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script>
  var password = document.getElementById("password"),
  confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    }
    else if(password.value.length < 5){
      confirm_password.setCustomValidity("Password must be length 5 or greater");
    }
    else {
      confirm_password.setCustomValidity('');
    }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>
<script>
  var form = document.getElementById("reset");
  form.addEventListener("submit", function (event) {
    event.preventDefault();

    sendData();
  });

  function sendData() {
    var xhr = new XMLHttpRequest();
    var data = {};
    data.new_password = form[0].value
    var json = JSON.stringify(data)

    xhr.open("POST", "/reset_password/{{token}}", true);
    xhr.setRequestHeader('Content-type','application/json; charset=utf-8');

    xhr.onload = function () {
      if (xhr.readyState == 4 && xhr.status == "200") {
        window.location = '/result/?action=change_password&success=true'
      } else {
        window.location = '/result/?action=change_password&success=false'
      }
    }
    xhr.send(json);
  }
</script>
{% endblock %}
